body {
  background-color: rgb(250, 250,250);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: flex-start;
  width: 70vw;
  margin: 20px;
}

.main {
  display: flex;
  flex-direction: row;
}

.poster {
  margin-top: 20px;
  height: 10vh;
}

.image {
  width: 4em;
  height: 4em;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
